.aside {
  hr {
    border: none;
    background: #000;
    height: 1px;
  }
  @include lg {
    width: 310px;
    flex: none;
  }
}
.profil {
  display: none;
  @include lg {
    display: block;
  }
}
.sidebar-title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
  font-weight: bold;
  padding-top: 35px;

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 18px;
    background: black;
  }
}
.friends-list {
  display: flex;
  flex-wrap: wrap;
}

.friend {
  width: 100%;
  display: flex;
  padding-bottom: 14px;

  :last-child {
    padding-bottom: 0;
  }
}
.friend-body {
  display: flex;
  flex-direction: column;
}

.friend-avatar {
  font-size: 12px;
  float: left;
  margin-right: 11px;
}

.friend-name {
  color: #000000;
  font-weight: bold;
  font-size: 15px;
}

.friend-mutual {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}

.friend-add {
  color: #000000;
  margin-top: auto;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-1px);
    margin-right: 7px;
    background: url("/public/src/svg/add.svg") center center / 17px 12px
      no-repeat;
  }

  &:hover {
    text-decoration: underline;
  }
}
