.container {
  padding: 21px 15px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.corps {
  @include lg {
    display: flex;
  }
}

@import "aside.scss";
@import "main.scss";
@import "sidebar.scss";
