.sidebar {
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 20px;

  @include lg {
    width: 180px;
    flex: none;
  }

  @include sm {
    display: block;
  }

  a {
    display: block;
    padding: 0.6em 0;
    text-decoration: none;
    transition: color 0.3s;
    width: 50%;
    border: solid 1px transparent;
    padding-left: 10px;
    color: #000000;

    &::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-top: -1px;
      margin-right: 20px;
      opacity: 0.67;
      background: url(/public/src/svg/home.svg) center center / contain
        no-repeat;
      transition: opacity 0.3s;
    }

    &.sidebar-message::before {
      background-image: url(/public/src/svg/message.svg);
    }
    &.sidebar-event::before {
      background-image: url(/public/src/svg/event.svg);
    }
    &.sidebar-groupes::before {
      background-image: url(/public/src/svg/groupes.svg);
    }
    &.sidebar-friends::before {
      background-image: url(/public/src/svg/friends.svg);
    }

    &:hover::before {
      opacity: 1;
    }

    @include lg {
      width: 100%;
    }
  }

  a.active,
  a:hover {
    color: #000;
    border: solid 1px #dbddbb;
    border-radius: 5px;
    background: #fff;
    font-weight: bold;
  }
}
